body{
	padding: 0;
	margin: 0;
}

.mouse-pointer{
	cursor: pointer;
}

div.navbar-header img{
	margin: 10px 10px;
	float: left;
}

a.navbar-brand {
	transition:1s ease;
	padding: 15px 0;
	margin-right: 10px;
}

div.navbar-login-from{
	display: none;
	float: left;
}

div.navbar-title{
	font-family: 'Trocchi', serif;
	margin-right: 50px;
}

a.btn-login {
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 15px 0;
	width: 60px;
	white-space: nowrap;
    overflow: hidden;
    transition:1s ease;
    text-decoration: none;
    color: #777;
}

img.img-login-form {
	width: 35%;
	height: 35%;
}

div.header-login-form {
	text-align: center;
}

div.header-login-form h1 {
	padding-top: 70px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
}

@media only screen and (max-width: 768px){
	div.navbar-login-from {
		display: inline-block;
	}

	a.btn-login{
		display: none;
	}

	div.header-login-form h1 {
		padding-top: 50px;
	}

	div.navbar-title {
		width: 120px;
		margin: 0 auto;
	}

	div.navbar-title img{
		display: none;
	}

	img.img-login-form{
		width: 22%;
		height: 22%;
	}

}