body{
	padding: 0;
	margin: 0;
}

.mouse-pointer{
	cursor: pointer;
}

div.navbar-header img{
	margin: 10px 10px;
	float: left;
}

a.navbar-brand {
	transition:1s ease;
	padding: 15px 0;
	margin-right: 10px;
}

div.navbar-login-from{
	display: none;
	float: left;
	transition: all 0.25s;
}

div.navbar-title{
	font-family: 'Trocchi', serif;
	margin-right: 50px;
}

a.btn-login {
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 15px 0;
	width: 60px;
	white-space: nowrap;
    overflow: hidden;
    transition:1s ease;
    text-decoration: none;
    color: #777;
}

img.img-login-form {
	width: 35%;
	height: 35%;
}

div.header-login-form {
	text-align: center;
}

div.header-login-form h1 {
	padding-top: 50px;
	font-family: "Montserrat", sans-serif;
  	font-smoothing: antialiased;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
}

input[type=text], input[type=password] {
    padding: 20px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0;
    border-width: 3px;
}

button.button {
	width: 100%;
  	display: inline-block;
  	border-radius: 0;
  	background-color: #FFA985;
  	border: none;
  	color: #FFFFFF;
  	text-align: center;
  	font-size: 18px;
  	padding: 22px 12px;
  	transition: all 0.5s;
  	cursor: pointer;
}

button.button span {
  	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}

a.btn{
	margin: 0 10%;
	width: auto;
}

/* on destop */
@media only screen and (min-width: 768px){
	button.button span:after {
	  	content: '\00bb';
	  	position: absolute;
	  	opacity: 0;
	  	top: 0;
	  	right: -20px;
	  	transition: 0.5s;
	}

	button.button:hover{
		background-color: #FF6865;
	}

	button.button:hover span {
	  	padding-right: 25px;
	}

	button.button:hover span:after {
	 	opacity: 1;
	  	right: 0;
	}

	.navbar-default{
		background: rgba(0,0,0,0.03);
		box-shadow: none;
		border: 0;
		margin: 0 0 250px 0;
		border-radius: 0;
	}

	.top-jumbotron{
		padding-top: 80px;
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

}


/* on moble */
@media only screen and (max-width: 768px){
	footer{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	div.navbar-login-from {
		display: inline-block;
	}

	div.navbar-login-from:hover {
		opacity: 0.7;
	}
	a.btn-login{
		display: none;
	}

	div.header-login-form h1 {
		padding-top: 35px;
	}

	li.btn-sign-in{
		display: none;
	}

	div.navbar-title {
		width: 120px;
		margin: 0 auto;
	}

	div.navbar-title img{
		display: none;
	}

	img.img-login-form{
		width: 22%;
		height: 22%;
	}

	a.btn{
		margin: 0 0;
		width: 100%;
	}

	.top-jumbotron{
		display: none;
	}
}