body{
	padding: 0;
	margin: 0;
}

.mouse-pointer{
	cursor: pointer;
}

div.navbar-header img{
	margin: 10px 10px;
	float: left;
}

a.navbar-brand {
	transition:1s ease;
	padding: 15px 0;
	margin-right: 10px;
}

div.navbar-login-from{
	display: none;
	float: left;
}

div.navbar-title{
	font-family: 'Trocchi', serif;
	margin-right: 50px;
}

a.btn-login {
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 15px 0;
	width: 60px;
	white-space: nowrap;
    overflow: hidden;
    transition:1s ease;
    text-decoration: none;
    color: #777;
}

img.img-login-form {
	width: 35%;
	height: 35%;
}

div.header-login-form {
	text-align: center;
}

div.header-login-form h1 {
	padding-top: 50px;
	font-family: "Montserrat", sans-serif;
  	font-smoothing: antialiased;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
}

input[type=text] {
    padding: 24px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0;
    border-width: 3px;
}

.button {
  display: inline-block;
  border-radius: 0;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 22px 12px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
/* on destop */
@media only screen and (min-width: 768px){
	.button span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}

	.button:hover span {
	  padding-right: 25px;
	}

	.button:hover span:after {
	  opacity: 1;
	  right: 0;
	}

}


/* on moble */
@media only screen and (max-width: 768px){
	div.navbar-login-from {
		display: inline-block;
	}

	a.btn-login{
		display: none;
	}

	div.header-login-form h1 {
		padding-top: 35px;
	}

	li.btn-sign-in{
		display: none;
	}

	div.navbar-title {
		width: 120px;
		margin: 0 auto;
	}

	div.navbar-title img{
		display: none;
	}

	img.img-login-form{
		width: 22%;
		height: 22%;
	}

	.button {
		width: 100%;
	}
}